.slider {
			height: 398px;
			background: url('../img/slider.png') no-repeat top center;
			padding: 68px 160px;
		}
		.slider .slider-container {
			padding: 68px 160px;
			position: relative;
		}
		.slider .slider-container ul {
			padding: 0;
			margin: 0;
		}
		.slider .slider-container .bx-controls-auto,
		.slider .slider-container .bx-pager {
			display: none;
		}
		.slider .slider-container .bx-controls-direction a {
			position: absolute;
			display: block;
			text-indent: -99999px;
			width: 26px;
			height: 24px;
			margin-top: 15px;
		}
		.slider .slider-container .bx-controls-direction a.bx-prev {
			background: url('../img/prev.png') top;
			left: 50%;
			margin-left: -26px;
		}
		.slider .slider-container .bx-controls-direction a.bx-prev:hover {
			background: url('../img/prev.png') bottom;
		}
		.slider .slider-container .bx-controls-direction a.bx-next {
			background: url('../img/next.png') top;
			right: 50%;
			margin-right: -26px;
		}
		.slider .slider-container .bx-controls-direction a.bx-next:hover {
			background: url('../img/next.png') bottom;
		}

		.carousel-control {
			opacity: 1;
			top: 344px;
			height: 24px;
		}

		.carousel-control.left{
			background: url(../img/prev.png)no-repeat 0 0;
			left: 571px;
		}
		.carousel-control.left:hover{
			background-position-y: -24px;
		}

		.carousel-control:focus, .carousel-control:hover {
			opacity: 1;
		}

		.carousel-control.right {
			background: url(../img/next.png)no-repeat 0 0;
			left: 597px;
		}

		.carousel-control.right:hover{
			background-position-y: -24px;
		}